.button{
	width: 120px;
	text-align: center;
	margin: 5px auto;
	border-radius: 4px;
	background-color: rgba#00008B;
	padding-inline: 10px;
}

.button:hover{
	background-color: rgba(000000)
}

a{
	color:rgb#FFFFFF;
	font-weight: bold;
	transition: color 0.3s ease;
}

a:hover {
	color :#FFFFFF;
	text-decoration: underline;
}